#
# generic imports
#
import("OpenMx")
import("bitops")
import("rpart")

#
# specific imports
#
importFrom("grDevices", "heat.colors", "rainbow")
importFrom("graphics", "barplot", "legend", "lines", "pairs", "par",
             "plot", "strwidth", "text", "hist")
importFrom("stats", "as.dist", "cmdscale", "coef", "cor", "cov",
           "logLik", "median", "pchisq", "qnorm", "runif", "var", "nobs",
           "vcov", "dist", "rnorm")
importFrom("utils", "flush.console", "getS3method", "sessionInfo","str",
           "setTxtProgressBar", "data")
importFrom("parallel","parLapply","clusterMap")
importFrom("sets","as.set")
importFrom("methods", "is")
importFrom("sandwich", "bread", "estfun")
importFrom("strucchange", "catL2BB", "maxBB", "meanL2BB", "ordL2BB", "ordwmax",
           "root.matrix", "sctest", "supLM")
importFrom("zoo", "zoo")
importFrom("utils","toLatex")


#
# S3 methods
#

export("evaluate")		#TODO: needed?
S3method("evaluate","semforest")
S3method("summary","semtree")
S3method("summary","semforest")
S3method("print","semtree.control")
S3method("print","semforest.control")
S3method("print","semtree")
S3method("print","summary.semtree")
S3method("print","semforest.varimp")
S3method("print","semforest")
S3method("prune","semtree")
S3method("prune","semforest")
S3method("merge","semforest")
S3method("plot","semtree")
S3method("plot","semforest.proximity")
S3method("plot","semforest.varimp")
S3method("toLatex","semtree")
S3method("plot","partialDependence")
S3method("nobs","semtree")
S3method("coef","semtree")
S3method("logLik", "semtree")
S3method("[","semtree")
S3method("[","semforest")
S3method("plot","diversityMatrix")
#
# exports
#

export("semtree")
export("semforest")
export("semtree.control")
export("semforest.control")
export("semtree.constraints")
export("subtree")
export("biodiversity")
export("diversityMatrix")
export("hellinger")
export("klsym")
export("prune")
export("parameters")
export("se")
export("nodeFunSemtree")
export("varimp")
export("varimpConvergencePlot")
export("toTable")
export("getTerminalNodes")
export("proximity")
export("outliers")
export("evaluateTree")
export("getNodeById")
export("subforest")
export("partialDependencePlot")
export("partialDependence")
export("getLeafs")
export("isLeaf")
export("getDepth")




# only temporary export; remove for shipping
#export("crossvalidatedSplit")
#export("cvLikelihood")
#export("evaluateDataLikelihood")
#export("evaluateTreePrediction")
#export("setData")
#export("safeRunAndEvaluate")
#export("getCovariatesFromTree")
#export("plot.predictions")




# planned for future releases

#S3method("plot","contributions")
#export("contributions")
#export("%+%")

# only for debugging
#export("semtree.apply.wrapper")
#export("semtreeApplyWrapper")
#export("bootstrap")
#export("traverse")
#export("getOCParameterNames")
#export("evalForestOob")
#export("aggregateVarimp")
#export("fitSubmodels")
#export("modelEstimates")
#export("getHeight")
